.App {
  text-align: center;
  margin-top: 50px;
}

.cat-gif-container {
  display: flex;
  justify-content: center;
}

.cat-gif {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
